extends layout

block content
    section.about-us
      h1 About Scholarship Hub
      p We are committed to facilitating educational opportunities. Our mission is to connect students with scholarships that help them achieve their academic and career aspirations.
      p Scholarship Hub is more than just a platform; it's an educational journey. Our passion for empowering students with financial support and opportunities drives everything we do.
      p Our dedicated team, led by experts in the field of education and financial aid, brings years of experience to the scholarship selection process. We take pride in guiding students towards a brighter future.
      p With a focus on quality and innovation, we continually explore new scholarship opportunities and techniques, ensuring that every student's dream is supported. We believe that education should not be limited by financial barriers but should open doors to possibilities.
      p Beyond our commitment to academic excellence, we also value inclusivity and diversity. We support scholarships for a wide range of fields, backgrounds, and interests, ensuring that every student finds an opportunity that matches their goals.
      p We invite you to embark on this educational journey with us. Whether you're a high school senior or a graduate student, Scholarship Hub welcomes you to explore the world of scholarship opportunities.
      a.btn-apply(href="/registration") Apply for Scholarships
