extends layout

block content
  .container
    .row
      .col-md-12
        section.scholarship-details
          h1 chegh scholarships
          p Deadline: August 30, 2024
          p Amount: $2,500
          p Eligibility: different criteria
          
          The chegh Scholarships is a prestigious opportunity designed to support students in their pursuit of higher education. This scholarship offers financial assistance to eligible students who are committed to achieving their academic and career goals. It is a testament to our dedication to helping students overcome financial barriers and reach their full potential.

        
