extends layout

block content
  .container-fluid
    .row
      .col-xs-12
        section.hero
          h1 Welcome to Scholarship Hub
          p Discover the opportunities that will shape your future with our diverse scholarship offerings.
          img.hero-image(src="/images/scholarship.jpeg", alt="Scholarship Hub", style="width:90%; height:auto;")
        section.special-features
          .row
            .col-xs-12.col-sm-6
              .promotion
                h2 Featured Scholarships
                p Explore our spotlighted scholarship opportunities.
                ul
                  li STEM Scholarship
                  img(src="images/stem.jpg", alt="STEM Scholarship")
                  li Arts & Humanities Grant
                  img(src="images/arts.jpg", alt="Arts Scholarship")
                  li Women in Science Award
                  img(src="images/women.jpg", alt="Women in Science Scholarship")
            .col-xs-12.col-sm-6
              .events
                h2 Upcoming Deadlines
                p Stay informed about upcoming scholarship application deadlines.
                ul
                  li May 15, 2024 - Engineering Excellence Scholarship
                  img(src="images/engineering.jpg", alt="Engineering Scholarship")
                  li June 30, 2024 - Environmental Studies Grant
                  img(src="images/environmental.jpg", alt="Environmental Studies Scholarship")
                  li August 10, 2024 - Business Leadership Scholarship
                  img(src="images/business.jpg", alt="Business Scholarship")
        section.about-us
          h2 About Scholarship Hub
          p We are committed to helping students achieve their academic goals through a wide range of scholarship opportunities.
          a.learn-more(href="/aboutus") Learn More
        section.featured-scholarships
          h2 Featured Scholarships
          .row
            .col-xs-12.col-sm-6
              .scholarship
                img(src="images/computer-science.jpg", alt="Featured Scholarship 1", style="width: 100%; height: auto;")
                h3 Computer Science Scholarship
                p A scholarship designed for students pursuing a degree in computer science, offering financial support to bright minds in the field.
            .col-xs-12.col-sm-6
              .scholarship
                img(src="images/medicine.jpg", alt="Featured Scholarship 2")
                h3 Medical Research Grant
                p An opportunity for aspiring medical researchers to advance their studies and make a difference in the healthcare industry.
        section.testimonials
          h2 What Our Scholars Say
          .row
            .col-xs-12
              .testimonial
                blockquote
                  p "Scholarship Hub has been instrumental in helping me achieve my educational dreams."
                p -John Doe
        section.reservation-cta
          h2 Apply for Scholarships
          p Begin your journey to higher education by applying for the scholarships that match your aspirations.
          a.btn-apply(href="/apply") Apply Now
        section.contact
          .row
            .col-xs-12.col-sm-6
              h2 Get in Touch
              p For questions or assistance, please don't hesitate to reach out to us.
              p Phone: +123-456-7890
              p Email: info@scholarshiphub.com
              a.btn-contact(href="/contact") Contact Us
          .col-xs-12.col-sm-6.fill-right
            Discover a wide range of scholarship opportunities to support your academic journey. Whether you're pursuing a degree in science, arts, or any other field, you'll find scholarships that match your educational goals.
