extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Scholarship Listings
          small &nbsp;Explore available scholarships and seize opportunities for your education.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/nonveg') Fastweb
            small &nbsp;
              span.glyphicon-education
          p
            span.label.label-warning Eligibility: Some criteria
            | &nbsp;
            span.label.label-warning Deadline: May 1, 2024
            | &nbsp;
            span.label.label-warning Amount: $5,000
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/veg') cappex
            small &nbsp;
              span.glyphicon-education
          p
            span.label.label-warning Eligibility: Other criteria
            | &nbsp;
            span.label.label-warning Deadline: June 15, 2024
            | &nbsp;
            span.label.label-warning Amount: $3,000
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/desert') chegh scholarships
            small &nbsp;
              span.glyphicon-education
          p
            span.label.label-warning Eligibility: Different criteria
            | &nbsp;
            span.label.label-warning Deadline: August 30, 2024
            | &nbsp;
            span.label.label-warning Amount: $2,500
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Discover a wide range of scholarship opportunities to support your academic journey. Whether you're pursuing a degree in science, arts, or any other field, you'll find scholarships that match your educational goals.
