extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Non-veg
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          
          .panel.panel-primary
            .panel-heading
              h2.panel-title Chicken Tikka Masala  
               span.badge.pull-right.badge-default Rs.300
            .panel-body
              img(src="images/chickentikkamas.jpeg", alt="chicken tikka masala", style="width: 20%; height: auto;")
              p Tender pieces of chicken marinated in a blend of aromatic spices, cooked in a luscious tomato-based gravy. Served with fragrant basmati rice.
    
          .panel.panel-primary
            .panel-heading
              h2.panel-title Lamb Kebabs
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/lambkebab.jpeg", alt="lambkebab", style="width: 100%; height: auto;")
              p Succulent lamb kebabs seasoned with a medley of spices and grilled to perfection. Served with mint chutney and naan bread.

          .panel.panel-primary
            .panel-heading
              h2.panel-title Seafood Paella
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/seafoodpaella.jpeg", alt="Seafoodpaella", style="width: 100%; height: auto;")
              p A delightful seafood medley of shrimp, mussels, and squid, cooked with saffron-infused rice and a hint of citrus.
              
          .panel.panel-primary
            .panel-heading
              h2.panel-title Chicken Biryani
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/chickenbir.jpeg", alt="biryani", style="width: 100%; height: auto;")
              p Chicken Biryani is a fragrant South Asian dish that combines marinated chicken with aromatic basmati rice, expertly layered and cooked with a blend of spices. The result is a flavorful and captivating culinary experience that's enjoyed globally.
        .col-xs-12.col-sm-4
           p.lead
             | Embark on a savory adventure with our non-vegetarian cuisine at Flavorscape Kitchen, where succulent cuts of meat are artfully prepared and infused with a symphony of spices, offering a tantalizing journey for meat enthusiasts. From grilled delights to exquisite curries, our non-veg offerings promise an unforgettable dining experience.      
          