extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Veg
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          
          .panel.panel-primary
            .panel-heading
              h2.panel-title Paneer Tikka Masala  
               span.badge.pull-right.badge-default Rs.300
            .panel-body
              img(src="images/paneer.jpeg", alt="paneer tikka masala", style="width: 100%; height: auto;")
              p Succulent pieces of paneer (Indian cottage cheese) are marinated in a blend of spices, skewered, and char-grilled to perfection. Served in a rich tomato and onion-based masala sauce, this dish offers a delightful combination of flavors and textures.
    
          .panel.panel-primary
            .panel-heading
              h2.panel-title Vegetable Biryani 
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/vegbir.jpeg", alt="vegbiryani", style="width: 100%; height: auto;")
              p Fragrant basmati rice infused with saffron, layered with a colorful assortment of seasonal vegetables, and slow-cooked with aromatic spices. This vegetarian biryani is a celebration of flavors and textures, perfect for those seeking a wholesome meal.

          .panel.panel-primary
            .panel-heading
              h2.panel-title Mushroom Masala
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/mushroom.jpeg", alt="mushroommasala", style="width: 100%; height: auto;")
              p Plump mushrooms cooked in a savory and spiced tomato-onion gravy, Mushroom Masala is a delectable option for mushroom enthusiasts. Its rich flavors and tender mushrooms create a satisfying dish.
              
          .panel.panel-primary
            .panel-heading
              h2.panel-title Vegan Pad Thai (Vegan)
               span.badge.pull-right.badge-default Rs.400
            .panel-body
              img(src="images/padthai.jpeg", alt="padthai", style="width: 100%; height: auto;")
              p A vegan twist on the Thai favorite, this dish features rice noodles stir-fried with an assortment of vegetables, tofu, and a zesty tamarind-based sauce. It's a tantalizing blend of sweet, sour, and savory flavors.
        .col-xs-12.col-sm-4
           p.lead
             | Indulge in the artistry of vegetarian flavors at Flavorscape Kitchen, where seasonal produce takes center stage in vibrant dishes crafted with culinary finesse. From hearty classics to innovative creations, our vegetarian cuisine celebrates the essence of plant-based gastronomy.